<nav class="nav">
  <div class="nav-container">
    <a href="{{ site.baseurl }}/">
      <h2 class="nav-title">{{ site.title }}</h2>
    </a>
    <ul>
      <li><a href="{{ '/cv' | prepend: site.baseurl }}">CV</a></li>
      <li><a href="{{ '/about' | prepend: site.baseurl }}">Giới thiệu</a></li>
      <li><a href="{{ site.baseurl }}/bookreview">Book Review</a></li>
	  <li><a href="{{ site.baseurl }}/en">English</a></li>
	  <li><a href="{{ site.baseurl }}/ru">Pусский</a></li>
    </ul>
  </div>
</nav>
